/* Global Stylings */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #EEEEEE;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}
body{
    background: #222831;
}
/* NavBar Stylings */

header{
    background: #393e46c8;
    position: sticky;
    top: 0;
    z-index: 3;
    margin-bottom: 10rem;
}

nav{
    display: flex;
    flex-direction: row;
    padding: 2rem;
    min-height: 10vh;
    width: 90%;
    margin: auto;
    align-items: center;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    flex-wrap: wrap;
}

nav ul li a:hover{
    color: #00ADB5;
}
nav h2{
    font-size: 2rem;
    flex: 2 1 40rem;
    font-family: 'Pattaya', sans-serif;
    cursor: pointer;
}

@media screen and (max-width: 932px){
    nav{
        text-align: center;
    }
    nav h2{
        padding: 1rem;
    }
}

/* Home Stylings */
.main-section{
    display: flex;
    flex-direction: row;
    min-height: 90vh;
    flex-wrap: wrap;
}
.name-plate{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:center;
   flex: 2 1 40rem;
}
.name-plate h3{
    font-size: 2rem;
    font-weight: normal;
    text-align: center;
}
.name-plate h2{
    font-size: 4rem;
    text-align: center;
    word-spacing: 1rem;
}

.name-plate p{
    font-size: 1.4rem;
    text-align: center;
    width: 70%;
    margin: 2rem auto;
}

.download-button{
    display: flex;
    flex-direction: row;
}

.download-button button{
    background-color: #393E46;
    padding: 1rem 2rem;
    border: none;
    margin-right: 4rem;
    cursor: pointer;
}

.download-button button:hover{
    background-color: #222831;
    border: 0.6px solid #EEEEEE;
}

.download-button button:nth-child(2){
    margin-right: 0rem;
}

.main-img{
    flex: 2 1 40rem;
}

.main-img img{
    width: 90%;
    margin: auto;
}

@media screen and (width: 1024px){
    .main-img img{
        width: 90%;
        margin: auto;
        margin-top: 30rem;
    }
}


/* About Me Section */

.about-section{
    height:100%;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 12rem;
    text-align: center;
}
.about-section h2{
    max-width: 90%;
    padding: 2rem;
    margin: auto;
    text-align: center;
    font-size: 4rem;
}

.user-data{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    margin: auto;
    flex-wrap: wrap;
}
.schooling , .degree , .skills{
    background: #393E46;
    flex: 1 1 30rem;
    max-height: 30rem;
    align-items: center;
    justify-content: space-evenly;
    margin: 4rem 2rem;
    border-radius: 1rem;
}
.img1, .img2 , .img3{
    background-color: aliceblue;
    border-radius: 1rem;
    width: 90%;
    margin: 1rem auto;
}

.img1 img , .img2 img , .img3 img{
    height: 50px;
    max-width: 50%;
    margin: 2rem;
}
.schooling h2 , .degree h2 , .skills h2{
    font-size: 2rem;
}
.schooling p, .degree p{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.skills ul{
    list-style: none;
    margin-bottom: 2rem;
}
.skills li{
    font-size: 1.2rem;
}




/* Project Section */

.project-section{
    width: 90%;
    margin: 5rem auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10rem;
}

.project-section h2{
    text-align: center;
    font-size: 4rem;
    min-height: 10vh;
}

.first-project{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    min-height: 60vh;
    margin: auto;
    flex-wrap: wrap;
}
.first-project div{
    background: #393E46;
    border-radius: 1rem;
    flex: 1 1 25rem;
    min-height: 30vh;
    margin: 2rem 5rem;
    display: flex;
    flex-direction: column;
}
.first-project h3, p{
    text-align: center;
    width: 90%;
    margin: auto;
    padding: 1rem ;
}
.first-project h3{
    font-size: 2rem;
}
.first-project div button{
    background: #222831 ;
    border: none;
    padding: 1rem 2rem;
    max-width: 70%;
    margin: 2rem auto;
}
.first-project div button:hover{
    background: #393E46;
    border: 0.1rem solid #00ADB5;
    
}

/* ContactUs Form */
.contact-us{
    height: 100%;
    max-width:90%;
    margin: auto;
    padding: 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-form{
    height: 100%;
    width: 9
    0%;
    margin: auto;
    background: #393E46;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4rem 0rem;
}
.contact-form h2{
    font-size: 4rem;

}
.email-id , .user-message{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 2rem 4rem;
}
.email-id label , .user-message label{
    flex: 1 1 10rem;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}
.email-id input{
    flex: 1 1 10rem;
    background: #222831;
    border: 0.4rem solid #222831;
    border-radius: 0.4rem;
}
.user-message textarea{
    flex: 3 1 10rem;
    background: #222831;
    border: 0.4rem solid #222831;
    border-radius: 1rem;
}
.contact-form button{
    background: #222831;
    padding: 1rem 2rem;
    border: none;
}
.contact-form button:hover{
    background: #393E46;
    border: 0.1rem solid #00ADB5;
}























/* Footer Section */

footer{
    min-height: 10vh;
    background: #393E46;
}

.footer-section{
    width: 90%;
    margin:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.footer-section div{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
}
.footer-section div h2{
    font-size: 2rem;
    font-family: 'Pattaya', sans-serif ;
}
.footer-section h3{
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.footer-section section{
    display: flex;
    flex-direction: row;
}
.footer-section section i{
    margin: 1rem 2rem;
    font-size: 1.4rem;
    cursor: pointer;
}
.footer-section section i:hover{
    color: #00ADB5;
}

/* Color Sample 
#222831
#393E46
#00ADB5
#EEEEEE 
*/

